/*.a{
	height: 700px;
	padding-top: 120px;
	padding-right: 98px;
	padding-left: 105px;
}
.b{
	height: 75px;
	background-color: white;
	

}
.s{
	color: grey;
	text-decoration: none;
	font-size: 12px;
}
.e{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	float: right;
	display: inline;5

}*/

.o{
	height: 650px;
	padding-top: 100px;
	

}
.a{
	height: 70px;
	background-color: white ;
	/*margin-right: 50px;
	margin-left: 50px;*/
	/*border: 0px 40px 0px 40px solid blue;*/
	width: 90%;
	
	

}
