.col-md-2{
	border: 5px solid white;
	height: 70px;
	background-color: lightblue;
	padding-top: 15px;
	padding-left: 55px;
}
button{
	border: none;
	background-color: lightblue;
}
a{
	text-decoration: none;
	color: black;
}